<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link to stylesheet `style.css` within the folder 'static'. -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

    <!-- title of the page -->
    <title>{{name_browser_tab}}</title>
</head>

<body>
    <h1>Hi!</h1>
    <h2>Navigation</h2>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cow">Cow</a></li>
        <li><a href="/dog">Dog</a></li>
        <li><a href="/pig">Pig</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>

</html>